aiofiles==0.6.0
aiohttp==3.7.4.post0
aiohttp-socks==0.6.0
async-timeout==3.0.1
asyncio-dgram==2.1.0
atomicwrites==1.4.0
attrs==21.2.0
cachetools==4.2.4
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.7
click==8.0.3
dnspython==2.1.0
future==0.18.2
h11==0.12.0
h2==4.1.0
hpack==4.0.0
hyperframe==6.0.1
idna==3.3
jsonschema==3.2.0
Logbook==1.5.3
lxml==4.6.3
matrix-nio==0.18.7
mcstatus==6.5.0
multidict==5.2.0
peewee==3.14.4
Pillow==8.3.2
pycparser==2.20
pycryptodome==3.11.0
pyrsistent==0.18.0
python-magic==0.4.24
python-olm==3.1.3
python-socks==1.2.4
requests==2.26.0
six==1.16.0
typing-extensions==3.10.0.2
unpaddedbase64==2.1.0
urllib3==1.26.7
yarl==1.7.0
